---
title: Создаем пакет Meteor
slug: creating-a-meteor-package
date: 0009/01/02
number: 9.5
sidebar: true
contents: Создадите локальный пакет в приложении.|Напишите тесты для пакета.|Опубликуете пакет в репозитории Atmosphere.
paragraphs: 22
---

Мы создали неплохой механизм для обработок ошибок. Теперь настало время поделиться им с сообществом Meteor.

Для начала нам нужно создать структуру пакета. Он будет находиться в папке `packages/errors`. Это уже создаст нам пакет, который будет автоматически подключен к приложению. Обратите внимание что Meteor также подключает другие пакеты через ссылки (symlinks) в папке `packages/`.

Во-вторых мы создадим файл `package.js` в этой папке. Этот файл сообщит Meteor как использовать наш пакет, а также название символа, который мы экспортируем наружу.

~~~js
Package.describe({
  summary: "Механизм отображения ошибок приложения пользователю"
});

Package.on_use(function (api, where) {
  api.use(['minimongo', 'mongo-livedata', 'templating'], 'client');

  api.add_files(['errors.js', 'errors_list.html', 'errors_list.js'], 'client');

  if (api.export)
    api.export('Errors');
});
~~~
<%= caption "packages/errors/package.js" %>

Добавим еще три файла в наш пакет. Мы можем скопировать их из кода Microscope практически без изменений, за исключением правильного названия переменных и слегка почищенного API:

~~~js
Errors = {
  // Локальная (только для клиента) коллекция
  collection: new Meteor.Collection(null),

  throw: function(message) {
    Errors.collection.insert({message: message, seen: false})
  },
  clearSeen: function() {
    Errors.collection.remove({seen: true});
  }
};

~~~
<%= caption "packages/errors/errors.js" %>

~~~html
<template name="meteorErrors">
  {{#each errors}}
    {{> meteorError}}
  {{/each}}
</template>

<template name="meteorError">
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
  </div>
</template>
~~~
<%= caption "packages/errors/errors_list.html" %>

~~~js
Template.meteorErrors.helpers({
  errors: function() {
    return Errors.collection.find();
  }
});

Template.meteorError.rendered = function() {
  var error = this.data;
  Meteor.defer(function() {
    Errors.collection.update(error._id, {$set: {seen: true}});
  });
};
~~~
<%= caption "packages/errors/errors_list.js" %>

### Тестируем пакет с помощью Microscope

Протестируем изменения локально с помощью Microscope, чтобы убедиться что приложение все еще корректно работает. Для добавления пакета в наш проект мы запустим команду `meteor add errors`. Затем нам нужно удалить существующие файлы, которые больше не нужны:

~~~bash
$ rm client/helpers/errors.js
$ rm client/views/includes/errors.html
$ rm client/views/includes/errors.js
~~~
<%= caption "удаляем старые файлы с помощью консоли bash" %>

Еще нам нужно внести незначительные изменения в код чтобы он использовал правильный API:

~~~js
Router.before(function() { Errors.clearSeen(); });
~~~
<%= caption "lib/router.js" %>

~~~html
  {{> header}}
  {{> meteorErrors}}
~~~
<%= caption "client/views/application/layout.html" %>

~~~js
Meteor.call('post', post, function(error, id) {
  if (error) {
    // display the error to the user
    Errors.throw(error.reason);

~~~
<%= caption "client/views/posts/post_submit.js" %>

~~~js
Posts.update(currentPostId, {$set: postProperties}, function(error) {
  if (error) {
    // display the error to the user
    Errors.throw(error.reason);
~~~
<%= caption "client/views/posts/post_edit.js" %>

<%= scommit "9-5-1", "Пакет для обработки ошибок создан и добавлен в приложение." %>

После всех упомянутых изменений наше приложение должно начать работать точно так же, как и до них.

### Пишем тесты

Первым шагом в разработке пакета было его тестирование вместе с приложением. Следующим шагом будет написание тестов, которые как следует протестируют поведение пакета. Meteor упакован встроенным тестером под названием Tinytest, позволяющим легко запускать серии тестов, и дающим спокойствие душе и разуму после того, как вы опубликовали ваш пакет для всех.

Создадим файл с тестами, использующими Tinytest. Они будут тестировать уже существующий код обработки ошибок:

~~~js
Tinytest.add("Errors collection works", function(test) {
  test.equal(Errors.collection.find({}).count(), 0);

  Errors.throw('A new error!');
  test.equal(Errors.collection.find({}).count(), 1);

  Errors.collection.remove({});
});

Tinytest.addAsync("Errors template works", function(test, done) {
  Errors.throw('A new error!');
  test.equal(Errors.collection.find({seen: false}).count(), 1);

  // отрисовываем шаблон
  OnscreenDiv(Spark.render(function() {
    return Template.meteorErrors();
  }));

  // ждем несколько миллисекунд
  Meteor.setTimeout(function() {
    test.equal(Errors.collection.find({seen: false}).count(), 0);
    test.equal(Errors.collection.find({}).count(), 1);
    Errors.clearSeen();

    test.equal(Errors.collection.find({seen: true}).count(), 0);
    done();
  }, 500);
});
~~~
<%= caption "packages/errors/errors_tests.js" %>

В этих тестах мы проверяем работоспособность функций из `Meteor.Errors`, а также делаем двойную проверку что отрисованный (`rendered`) код в шаблоне все еще работает.

Мы не будем углубляться в детали написания тестов для пакетов Meteor (так как API все еще не заморожен и сильно меняется), но мы надеемся что все довольно просто и понятно.

Чтобы сообщить Meteor, как запускать тесты в `package.js`, используйте следующий код:

~~~js
Package.on_test(function(api) {
  api.use('errors', 'client');
  api.use(['tinytest', 'test-helpers'], 'client');

  api.add_files('errors_tests.js', 'client');
});
~~~
<%= caption "packages/errors/package.js" %>

<%= scommit "9-5-2", "Добавлены тесты в пакет." %>

Теперь мы можем запустить серию тестов следующей командой:

~~~bash
$ meteor test-packages errors
~~~
<%= caption "Terminal" %>

<%= screenshot "s7-1", "Все тесты пройдены успешно" %>

### Публикуем пакет

Мы хотим опубликовать наш пакет и сделать его доступным для всех. Для этого воспользуемся сервисом Atmosphere.

Для начала нужно добавить `smart.json` файл, чтобы сообщить Meteor и Atmosphere все важные детали о нашем пакете:

~~~json
{
  "name": "errors",
  "description": "Механизм вывода ошибок приложения пользователю",
  "homepage": "https://github.com/tmeasday/meteor-errors",
  "author": "Tom Coleman <tom@thesnail.org>",
  "version": "0.1.0",
  "git": "https://github.com/tmeasday/meteor-errors.git",
  "packages": {
  }
}
~~~
<%= caption "packages/errors/smart.json" %>

<%= scommit "9-5-3", "Добавили smart.json" %>

Мы добавили основные данные о пакете, включая краткое описание пакета, адрес git-репозитория и начальный номер версии. Если бы наш пакет зависел от других пакетов Atmosphere, мы могли бы добавить секцию `"packages"` чтобы перечислить в нем все внешние зависимости.

После того как файл с метаданными готов, мы можем легко опубликовать пакет. Нам понадобится создать git-репозиторий, закачать наш пакет на удаленный git-сервер и добавить линк к этому репозиторию в `smart.json`.

Если мы используем сервис [GitHub](http://github.com) для удаленного репозитория, то процесс будет следующим - сначала мы создаем новый репозиторий, затем традиционным способом добавляем в него код нашего пакета, и наконец командой `meteor release` публикуем пакет в Atmosphere:

~~~bash
$ git init
$ git add -A
$ git commit -m "Created Errors Package"
$ git remote add origin https://github.com/tmeasday/meteor-errors.git
$ git push origin master
$ meteor release .
Done!
~~~
<%= caption "Терминал (из папки `packages/errors`)" %>

Внимание: имена пакетов должны быть уникальными. Если вы используете имя уже существующего пакета, при публикации будут ошибки с конфликтами и ничего не получится. В будущем Atmosphere собирается разграничивать имена пакетов по авторам, так что все еще может измениться к лучшему.

И еще: вам нужно зарегистрироваться на http://atmosphere.meteor.com, создать имя пользователя, пароль, и использовать их вместе с командой `meteor release .`.

Теперь, когда пакет опубликован, мы можем смело удалить его из проекта и добавить в приложение:

~~~bash
$ rm -r packages/errors
$ meteor add errors
~~~
<%= caption "Терминал (запускаем из корневой папки нашего приложения)" %>

<%= scommit "9-5-4", "Пакет удален из приложения." %>

Теперь мы можем увидеть как Meteor впервые загружает наш пакет из репозитория. Отличная работа!
